@using OS.Business.Domain
@using OS.Web.Models.ProductViewModels
@model ProductDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

@{
    ProductPhoto mainPhoto = Model.Product.Photos.SingleOrDefault(x => x.IsMain);

    mainPhoto = mainPhoto != null ? mainPhoto : Model.Product.Photos.FirstOrDefault();
}
  
<div class="row">
    <div class="col-md-4">
        @if (mainPhoto != null)
        {
            <img height="171" width="180" src="@Url.Action("GetFileContent", "Files", new {id = mainPhoto.Id})"/>
        }
    </div>
    <div class="col-md-8">
        @Html.Raw(Model.Product.Description)
    </div>
</div>

<div class="row" style="margin: 0">
    <a class="btn btn-success btn-buy-product" href="#" style="display: none" productId="@Model.Product.Id" categoryId="@Model.CategoryId" productPrice="@Model.Product.Price">Купити</a>
</div>

<div class="row" style="margin: 0">
    <div id="productPhotos" class="row list-group">
        @{
            IEnumerable<ProductPhoto> restPhotos = Model.Product.Photos.Where(x => !x.IsMain && !x.IsDeleted).ToList();
        }

        @foreach (ProductPhoto productPhoto in restPhotos)
        {
            <div class="os-item col-xs-3 col-lg-3">
                <div class="thumbnail">
                    <a href="@Url.Action("GetFileContent", "Files", new {id = productPhoto.Id})" target="_blank">
                        <img height="171" width="180" src="@Url.Action("GetFileContent", "Files", new {id = productPhoto.Id})" />
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{

}

