@using OS.Business.Domain
@using OS.Web.Models
@model HomePageViewModel

@{
    Layout = "../Shared/_publicLayout.cshtml";

    <link href="/Content/ViewModeSwitch/css/default.css" rel="stylesheet"/>
    <link href="/Content/ViewModeSwitch/css/component.css" rel="stylesheet"/>
    <script src="/Content/ViewModeSwitch/js/modernizr.custom.js"></script>
}

@section breadcrumbs
{
    @if (Model.ParentCategories.Any())
    {
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Головна", "Index")
            </li>
            @for (int i = 0; i < Model.ParentCategories.Count - 1; i++)
            {
                <li>
                    @Html.ActionLink(Model.ParentCategories[i].Name, "Index", new
                        {
                            searchdTerm = Model.PaginationFilterViewModel.SearchTerm,
                            parentCategoryId = Model.PaginationFilterViewModel.ParentCategoryId
                        }, null)
                </li>
            }
            <li class="active">
                @Model.ParentCategories.Last().Name
            </li>
        </ol>
    }
}

@if (Model.SelectedCategory != null)
{
    @Html.Partial("_productCategoryArticle", Model.SelectedCategory)
}

@if (Model.Products.Count > 0)
{
    <div id="products" class="hidden">
        <div class="list-group">
            <div id="cbp-vm" class="cbp-vm-switcher">
                <div class="cbp-vm-options">
                    <a href="#" class="cbp-vm-icon cbp-vm-grid" data-view="cbp-vm-view-grid">Grid View</a>
                    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
                </div>
                <ul>
                    @foreach (Product product in Model.Products)
                    {
                        @Html.Partial("_productItem", product)
                    }
                </ul>
            </div>
        </div>

        @Html.Partial("_pager", Model.PaginationFilterViewModel)
    </div>
}

@section scripts
{
    <script src="/Content/ViewModeSwitch/js/classie.js"></script>
    <script src="/Content/ViewModeSwitch/js/cbpViewModeSwitch.js"></script>

    <script src="~/Scripts/application/products/publicList.js"></script>
    <script type="text/javascript">
        var productListController = new PublicProductListController();
    </script>

    <script type="text/javascript">
        $("#tbSearchProducts").val("@Model.PaginationFilterViewModel.SearchTerm")
    </script>
}
