@using OS.Business.Domain
@using OS.Web.Models
@model HomePageViewModel

@{
    Layout = "../Shared/_publicLayout.cshtml";
}

@section breadcrumbs
{
    @if (Model.ParentCategories.Any())
    {
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Головна", "Index")
            </li>
            @for (int i = 0; i < Model.ParentCategories.Count - 1; i++)
            {
                <li>
                    @Html.ActionLink(Model.ParentCategories[i].Name, "Index", new
                        {
                            searchdTerm = Model.PaginationFilterViewModel.SearchTerm,
                            parentCategoryId = Model.PaginationFilterViewModel.ParentCategoryId
                        }, null)
                </li>
            }
            <li class="active">
                @Model.ParentCategories.Last().Name
            </li>
        </ol>
    }
}

@if (Model.Products.Count > 0)
{
    @Html.Partial("_pager", Model.PaginationFilterViewModel)

    <div id="products" class="table-row list-group">
        @foreach (Product product in Model.Products)
        {
            @Html.Partial("_productItem", product)
        }
    </div>

    @Html.Partial("_pager", Model.PaginationFilterViewModel)
}
else
{
    <div class="alert alert-info">
        Ця категорія не містить продуктів
    </div>
}

@section scripts
{
}
