@using OS.Web.Models.ProductCategoryViewModels
@model ProductCategoryCreateOrEditViewModel

@{
    Layout = "~/Views/Shared/_adminEditLayout .cshtml";
}

@section editor
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ParentId)

   <table class="full-width">
        <tr>
            <td class="min-width col-md-2" style="white-space: nowrap">
                <span>
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                </span>@Html.Partial("_requiredMark")
            </td>
            <td style="width: 250px">@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })</td>
            <td style="white-space: nowrap">@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
    </table>
}

@section cancelAction
{
    @Html.ActionLink("Відмінити", "Index",
        new
        {
            parentId = Model.ParentId
        },
        new
        {
            onclick = "return confirmCancel();",
            @class = "btn btn-default"
        })
}
