@using OS.Business.Domain
@using OS.Web.Models.ProductCategoryViewModels
@model ProductCategoriesViewModel

@{
    Layout = "~/Views/Shared/_adminListLayout.cshtml";
}

@section creationAction
{
    @Html.ActionLink("Створити", "Create", new
{
    parentId = Model.LevelUpProductCategory == null ? (int?) null : Model.LevelUpProductCategory.Id
})
}

@section subAtionsToolBar
{
    <nav class="navbar navbar-link">
        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("Додати новий товар", "CreateProduct", new
                    {
                        categoryId = Model.LevelUpProductCategory.Id
                    },
                    new
                        {
                        })
            </li>
        </ul>

    </nav>
}

@section content
{
    <ul class="nav-pills">
        @if (Model.LevelUpProductCategory != null)
        {
            @Html.Partial("_productCategoryItem", new ProductCategory
                {
                    Name = "..",
                    Id = Model.LevelUpProductCategory.ParentId ?? 0
                })
        }

        @foreach (ProductCategory productCategory in Model.ProductCategories)
        {
            @Html.Partial("_productCategoryItem", productCategory)
        }

        @foreach (ProductListItemViewModel productListItemViewModel in Model.ProductsFromLevelUpProductCategory)
        {
            @Html.Partial("_productItem", productListItemViewModel)
        }
    </ul>
}
