@using OS.Web.Models.ProductCategoryViewModels
@model ProductCategoriesViewModel

@{
    Layout = "~/Views/Shared/_adminListLayout.cshtml";
}

@section substituteBreadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="enterTheCategoryCallBack('')">..</a>
        </li>
        @foreach (ProductCategoryListItemViewModel productCategoryListItemViewModel in Model.PathToRoot)
        {
            <li>
                <a href="#" onclick="enterTheCategoryCallBack('@productCategoryListItemViewModel.ProductCategory.Id')">@productCategoryListItemViewModel.ProductCategory.Name</a>
            </li>
        }
        @if (Model.Filter.ParentId.HasValue)
        {
            <li>
                @Model.Filter.ParentCategoryName
            </li>
        }
    </ol>
}

@section createToolBarItem
{
<li role="presentation">
    @Html.ActionLink("Створити", "Create", new
        {
            parentCategoryId = Model.Filter.ParentId
        })
</li>
}

@section filter
{
    @Html.EditorFor(x => x.Filter)
}

@section list
{
    @if (Model.Categories.Count > 0)
    {
        <div id="categories" class="row list-group">
            @foreach (ProductCategoryListItemViewModel categoryListItemViewModel in Model.Categories)
            {
                @Html.Partial("_productCategoryItem", categoryListItemViewModel.ProductCategory)
            }
        </div>
    }
    else
    {
        <div class="alert alert-info">
            Ця категорія не містить категорій
        </div>
    }
}

@section scripts
{
    <script src="~/Scripts/application/ProductCategories/productCategoriesListController.js"></script>
    <script type="text/javascript">
        var enterTheCategoryCallBack = function(categoryId)
        {
            $("#@Html.IdFor(x => x.Filter.ParentId)").val(categoryId);
            doSearch();
        }

        initCategoriesFilter(enterTheCategoryCallBack);

        var productCategoriesListController = new ProductCategoriesListController(enterTheCategoryCallBack);
    </script>
}
