@using OS.Web.Models.ProductViewModels
@model ProductCreateOrEditViewModel

@{
    Layout = "~/Views/Shared/_adminEditLayout.cshtml";
    PageData[Constants.PageData.SAVE_ACTION_NAME] = "SaveProduct";
}

@section editor
{
    <style>
        .ui-autocomplete {
            max-height: 300px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
    </style>

    @Html.HiddenFor(m => m.Product.Id)
    @Html.HiddenFor(m => m.OwnerCategoryId)
    <table class="full-width">
        <tr>
            <td class="min-width col-md-2" style="white-space: nowrap">
                <span>
                    @Html.LabelFor(m => m.Product.Name)
                </span>@Html.Partial("_requiredMark")
            </td>
            <td style="width: 250px">@Html.TextBoxFor(model => model.Product.Name, new { @class = "form-control" })</td>
            <td style="white-space: nowrap">@Html.ValidationMessageFor(model => model.Product.Name)</td>
        </tr>
        <tr class="row-space">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="min-width col-md-2" style="white-space: nowrap;" valign="top">
                <span>
                    @Html.LabelFor(m => m.Product.Description)
                </span>
            </td>
            <td colspan="2">
                @Html.TextAreaFor(m => m.Product.Description)
            </td>
        </tr>
        <tr class="row-space">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="min-width col-md-2">
                @Html.LabelFor(m => m.Product.Brand)
            </td>
            <td>
                <div class="ui-widget">
                    @Html.TextBoxFor(m => m.BrandName)
                </div>
            </td>
        </tr>
        <tr class="row-space">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="min-width col-md-2">
                @Html.LabelFor(m => m.Product.CountryProducer)
            </td>
            <td>
                <div class="ui-widget">
                    @Html.TextBoxFor(m => m.CountryName)
                </div>
            </td>
        </tr>
        <tr class="row-space">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="min-width col-md-2" valign="top">
                @Html.LabelFor(m => m.Product.Photos)
            </td>
            <td>
                @Html.EditorFor(model => model.ProductPhotoViewModels, "_productPhotos")
            </td>
        </tr>
        <tr class="row-space">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="min-width col-md-2" valign="top">
                @Html.LabelFor(m => m.Product.Photos)
            </td>
            <td colspan="2">
                <table>
                    @for (int i = 0; i < Model.PostedProductPhotos.Count; i++)
                    {
                        <tr>
                            <td style="padding-right: 5px">@(i + 1)</td>
                            <td><input type="file" name="@Html.IdFor(m => m.PostedProductPhotos)"/></td>
                        </tr>
                    }    
                </table>
            </td>
        </tr>
    </table>
}

@section cancelAction
{
    @Html.ActionLink("Відмінити", "Index",
        new
        {
            parentId = Model.OwnerCategoryId
        },
        new
        {
            onclick = "return confirmCancel();",
            @class = "btn btn-default"
        })
}

@section scripts
{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            selector: "#@Html.IdFor(m => m.Product.Description)"
        });
    </script>
    
    <script src="~/Scripts/jquery-ui/jquery-ui.js">
    </script>

    <script type="text/javascript">
        $("#@Html.IdFor(m => m.BrandName)").autocomplete(
        {
            source: "/api/brands/autocomplete",
            minLength: 1,
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    return $('<li>')
                        .append('<a>' + item.label.replace(this.term, "<b>" + this.term + "</b>") + '</a>')
                        .appendTo(ul);
                };
            }
        });
    </script>
    <script type="text/javascript">
        $("#@Html.IdFor(m => m.CountryName)").autocomplete(
        {
            source: "/api/countries/autocomplete",
            minLength: 1,
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    return $('<li>')
                        .append('<a>' + item.label.replace(this.term, "<b>" + this.term + "</b>") + '</a>')
                        .appendTo(ul);
                };
            }
        });
    </script>
}
