@using OS.Configuration
@using OS.Web.Models
@model HorizontalCategorySelectorViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<table style="width: 100%; height: 100%" border="0">
    <thead>
    <tr>
        <td></td>
        <td style="width: 640px; background: whitesmoke">
            <div>
                @Html.Partial("_topMenu")
            </div>
            <div>
                @Html.Partial("_searchControl")
            </div>
            <div>
                @Html.Partial("_horizontalCategorySelector", Model)
            </div>
        </td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr height="100%">
        <td></td>
        <td style="background: white">
            @RenderSection("content")
        </td>
        <td></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td style="background: whitesmoke">Environment: @ApplicationSettings.Instance.AppSettings.Environment</td>
        <td></td>
    </tr>
    </tfoot>
</table>
@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
