@using OS.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>

@{
    string bodyColor = Request.IsAuthenticated && Request.RequestContext.HttpContext.User.IsInRole("admin") ? "#d6c0c5;" : "lightgray";
}

<body style="background-color: @bodyColor">
    <table class="full-size" boder="1">
        <thead>
            <tr class="min-height">
                <td></td>
                <td style="width: 780px; background: whitesmoke">
                    <div class="navbar navbar-inverse">
                        <div style="float: right">
                            @Html.Partial("_loginPartial")
                        </div>
                        <div>
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">OnlineStore</a>
                            </div>
                            <ul class="nav navbar-nav">
                                @if (IsSectionDefined("topMenu"))
                                {
                                    @RenderSection("topMenu")
                                }
                                else
                                {
                                    @Html.Partial("_topMenu")
                                }
                            </ul>
                        </div>
                    </div>
                    @RenderSection("topSection", false)
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td style="background: white; padding: 10px;">
                    @RenderSection("content")
                </td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="min-height">
                <td></td>
                <td class="panel-footer" style="font-size: 11px;">
                    <div><b>Environment:</b> @ApplicationSettings.Instance.AppSettings.Environment</div>
                    <div>
                        <span>
                            <b>Client:</b>
                        </span>
                        <span id="browserInfo">

                        </span>
                    </div>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts")

    <script>
        document.getElementById("browserInfo").innerHTML = navigator.userAgent;
    </script>
</body>
</html>
