@{
    Layout = "_layout.cshtml";
}

@if (IsSectionDefined("substituteTitleTag"))
{
    @section titleTag
{
        @RenderSection("substituteTitleTag")
    }}

@section SeoMetaTags
{
    @RenderSection("SeoMetaTags", false)
}

@section topSection
{
    @Html.Partial("_publicTopSection")
}

@section content
{
    <div class="row table-row">
        <div class="col-md-2 table-col" style="padding-left: 0; padding-right: 0">
            @if (IsSectionDefined("leftMenu"))
            {
                @RenderSection("leftMenu")
            }
            else
            {
                @Html.Action("VerticalCategorySelector", "Categories")
            }

        </div>
        <div class="col-md-10 table-col" style="background: white; padding: 10px;">
            @if (IsSectionDefined("breadcrumbs"))
            {
                @RenderSection("breadcrumbs")
            }
            else
            {
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
            }

            @RenderBody()
        </div>
        @*<div class="col-md-3 table-col" style="background: lightgray"></div>*@
    </div>
}

@section scripts
{
    @RenderSection("scripts")
}


