@using OS.Web.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_accountLayout.cshtml";
    PageData[Constants.PageData.PAGE_TITLE] = "Вхід в систему";
}

@section accountFormContent
{
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td class="col-md-2 control-label">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Email, "")
                </td>
            </tr>
            <tr class="row-space">
                <td colspan="3"></td>
            </tr>
            <tr>
                <td class="col-md-2 control-label">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Password, "")
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { style = "font-weight: normal" })
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="white-space: nowrap">
                    <input type="submit" value="Ввійти" class="btn btn-default" />
                    @Html.ActionLink("Зареєструватися", "Register")
                </td>
                <td></td>
            </tr>
        </table>
    }
}