@using OS.Web.Models
@model RegisterViewModel
@{
    PageData[Constants.PageData.PAGE_TITLE] = "Реєстрація";
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}

@section accountFormContent
{
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new
    {
        role = "form"
    }))
    {
        @Html.AntiForgeryToken()
        <table style="width: 350px">
            <tr>
                <td class="col-md-2 control-label">
                    @Html.LabelFor(m => m.Email)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </td>
            </tr>
            <tr class="row-space">
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="col-md-2 control-label">
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </td>
            </tr>
            <tr class="row-space">
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="col-md-2 control-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </td>
            </tr>
            <tr class="row-space">
                <td colspan="2"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-default" value="Зареєструватися"/>
                </td>
            </tr>
        </table>
    }
}